.border {
    border: 4px solid gray;
}

.modal-rooms input {
  width: 100%;
}

.menu {
  margin: 0;
  padding-bottom: 100%;
  margin-bottom: -100%;
  background-color: lightgray;
}

.col-md-9 {
  margin: 0;

}
