
.room-header {
  border: 1px solid red;
}

.room-header h1 {
  width: 100%;
  display: inline-block;
}

.room-header h1 button {
  float: right;
}

.room-item {
  list-style: none;
  padding: 1%;
  font-size: 1.5em;
}

.room-item a {
  text-decoration: none;
  color: black;
}
